/****************** GENERAL ******************/
body {
    padding-top: 133px;
}
body#page-1 {
    padding: 0;
}
@media(max-width: 767px){
    body {
        padding-top: 80px;
    }
}
body:not(#page-1) {
    background: url("../images/page-header.jpg") no-repeat center 0;
}
h1, h2, h3, .h1, .h2, .h3, .widget-title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h1, .h1 {
    font-weight: 400;
}
h3, .h3, .widget-title {
    font-size: 18px;
    margin-top: 0;
}
/****************** HEADERS ******************/
header, header * {
    transition: all 0.3s;
}
#mainHeader {
    background: none;
}
.navbar-header {
    float: none;
}
.navbar-brand,
.fixed .navbar-brand {
    display: block;
    height: auto;
    padding: 10px 0;
    width: auto;
    margin: 0;
    text-align: left;
    clear: none;
}
@media (max-width: 1199px) {
    .navbar-brand img {
        max-height: 105px;
    }
}
@media (min-width: 1200px) {
    .navbar-brand img {
        max-height: 140px;
    }
}
@media (min-width: 768px) {
    body:not(#page-1) header:not(.fixed) .navbar-brand img {
        max-height: 105px;
    }
    #mainMenu {
        margin-top: 12px;
    }
    #page-1 header:not(.fixed) .navbar-brand {
        float: none;
        margin: 100px auto 0 auto;
        text-align: center;
        clear: both;
        width: 180px;
    }
}
.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}
.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 0;
}
.nav > li > a {
    padding-left: 0;
    padding-right: 0;
}
.nav > li.primary {
    padding-left: 15px;
    padding-right: 15px;
}
.nav > li.primary.btn-nav {
    padding-right: 0;
}
ul.navbar-nav > li.primary > a.firstLevel {
    text-transform: uppercase;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 12px;
}
@media (min-width: 1200px) {
    ul.navbar-nav > li.primary > a.firstLevel {
        letter-spacing: 2px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .nav > li:not(.btn-nav){
        padding-left: 8px;
        padding-right: 8px;
    }
}
#mainMenu {
    text-align: left;
    float: right;
}
body[dir="rtl"] #mainMenu {
    text-align: right;
    float: left;
}
#page-1 #mainMenu {
    text-align: center;
}
#mainMenu,
#mainMenu .navbar-nav {
    position: relative;
    z-index: 1;
}
@media (max-width: 767px) {
    #page-1 .navbar-brand {
        display: block;
        height: auto;
        padding: 10px 0;
        width: 180px;
        margin: 0;
        text-align: left;
        float: left;
        clear: none;
    }
    .navbar-brand img,
    .fixed .navbar-brand img,
    #page-1 .navbar-brand img,
    #page-1 .fixed .navbar-brand img {
        max-height: 60px;
    }
    #mainMenu {
        position: absolute;
        top: 80px;
        width: 100%;
        margin-top: 0;
        border-top: none;
    }
    #mainMenu .navbar-nav {
        display: block;
    }
    #mainMenu .navbar-nav li:last-child {
        border-bottom: none;
    }
    ul.navbar-nav > li.primary > a.firstLevel.active, ul.navbar-nav > li.primary > a.firstLevel:hover, ul.navbar-nav > li.primary > a.firstLevel:focus {
        border-bottom: none;
    }
}
ul.navbar-nav > li.primary .dropdown > a,
ul.navbar-nav > li.primary .dropdown {
    line-height: 34px;
}
ul.navbar-nav > li.primary .dropdown-menu {
    max-width: 320px;
    width: auto;
    white-space: nowrap;
}
.dropdown-menu-right {
    float: right !important;
    right: 0;
    left: auto !important;
}
ul.navbar-nav > li.primary .dropdown-menu li a {
    line-height: 12px;
    font-weight: 400;
}
#mainMenu .searchWrapper {
    margin: 0;
}
#mainMenu .searchWrapper .form-control {
    width: 160px;
}
#mainMenu .searchWrapper .form-control, #mainMenu .searchWrapper button {
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
}
.navbar-fixed-top.fixed {
    z-index: 1031;
}
/***************** BOOTSTRAP *****************/
.btn {
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 3px;
}
.btn-number {
    padding: 2px;
}
.input-number {
    padding: 2px;
    height: 34px;
    text-align: center;
}
label small {
    font-weight: 400;
}
/*************** ROYAL SLIDER ****************/
#sliderContainer {
    position: relative;
}
.fullSized.royalSlider {
    height: 900px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.royalSlider .infoBlock {
    top: 30%;
}
.royalSlider .infoBlock h1 {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}
.royalSlider .infoBlock h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: none;
}
.royalSlider .infoBlock a {
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    .royalSlider .infoBlock h1 {
        font-size: 30px;
    }
    .royalSlider .infoBlock h2 {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .royalSlider .infoBlock {
        top: 20%;
    }
    .royalSlider .infoBlock h1 {
        font-size: 24px;
    }
    .royalSlider .infoBlock h2 {
        font-size: 22px;
    }
}
/************** BOOKING SEARCH ***************/
.booking-search {
    padding: 0 8px;
}
.booking-search [class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}
#search-home-wrapper {
    position: absolute;
    z-index: 1030;
    top: 60%;
    width: 100%;
}
@media (max-width: 991px) {
    #search-home-wrapper {
        bottom: 7%;
        top: auto;
        z-index: 900;
    }
}
#search-home {
    padding: 7px 12px;
    text-align: center;
    border-radius: 4px;
}
#search-page .container {
    padding: 30px;
}
.booking-search [class^="col-"] {
    padding: 1px!important;
    margin: 0!important;
}
.booking-search .form-group {
    padding: 0px!important;
    margin: 0!important;
}
.booking-search .form-control {
    height: 52px;
}
.booking-search .btn {
    line-height: 2.75;
}
.booking-search .btn-primary {
    font-weight: bold;
}
.ui-datepicker {
    z-index: 9999!important;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    max-height: 288px!important;
}
.bootstrap-select.btn-group .dropdown-menu {
    max-height: 300px!important;
}
/************ ISOTOPE / PORTFOLIO ************/
.isotopeContent {
    border: 0;
    padding: 20px 0 0;
}
.isotopeContent p,
.isotopeContent h3,
.isotopeContent h4 {
    text-align: center;
}
.isotopeContent h3 {
    font-size: 20px;
    margin-top: 0;
}
/******************* FOOTER ******************/
footer {
    position: relative;
    z-index: 100;
}
footer h3, footer .widget-title {
    margin-bottom: 20px;
}
footer .searchWrapper {
    margin-bottom: 10px;
}
footer .searchWrapper, footer .dropdown, footer .dropup {
    height: 44px;
    margin-right: 20px;
    margin-left: 0;
}
@media(min-width: 768px){
    footer .widget.footer-form {
        width: 66.6667%;
    }
}
/*************** MISCELLANEOUS ***************/
aside h3 {
    font-size: 16px;
}
aside h4 {
    font-size: 14px;
}
.more-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.more-content h3 {
    position: relative;
    top: 36%;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    text-transform: none;
}
/*
.more-link:hover .more-content h3 {
    font-size: 20px;
    top: 18%;
}
*/
.more-content .more-descr {
    position: absolute;
    bottom: 20px;
    right: -15px;
    z-index: 1;
    line-height: 20px;
    font-weight: 200;
    font-size: 18px;
    padding: 10px;
    text-transform: none;
}
.more-content .more-descr .price span {
    font-size: 20px;
}
/*
.more-link:hover .more-content .more-descr {
    bottom: 60px;
    right: 0;
    width: 100%;
    background: none;

    -webkit-transition: all 0.3s ease, background 0s;
            transition: all 0.3s ease, background 0s;
}
*/
.text-overflow {
    min-height: 108px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.more-btn {
    background: url("../images/more-bg.png") repeat-x 0 bottom;
    position: absolute;
    bottom: 0;
    padding-top: 60px;
    width: 100%;
    height: 108px;
    text-align: center;
}
.articleFocus h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.boxed {
    padding: 20px;
}
/************* BOOKING RESULTS ***************/
#booking-summary .col-md-6 {
    padding: 30px;
}
#booking-summary big,
#booking-summary p.lead {
    font-size: 20px;
}
.facility-icon {
    border-radius: 5px;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 5px;
    width: 31px;
    height: 31px;
    text-align: center;
}
.facility-icon a {
    display: block;
    width: 19px;
    height: 19px;
    line-height: 19px;
    float: left;
}
.facility-icon img {
    width: 19px;
    height: 19px;
    display: block;
    opacity: 0.7;
}
@media (min-width: 768px) {
    .booking-result > .sep {
        height: 245px;
    }
}
.img-container {
    border-radius: 0;
}
@media (max-width: 991px) {
    .booking-result .img-container.md {
        margin-bottom: 10px;
    }
}
.booking-result .btn-danger,
.booking-result .btn-default {
    text-transform: none;
}
.img-container,
.hb-calendar:not(.loaded) {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
}
@media (min-width: 768px){
    .activity-result .sep {
        display: table;
    }
    .checkbox-container {
        display: table-cell;
        vertical-align: middle;
    }
}
.checkbox-container {
    width: 30px;
    height: 30px;
    margin: 10px auto;
}
.checkbox-icon {
    border-radius: 50%;
    cursor: pointer;
    font-weight: normal;
    height: 30px;
    margin: 0;
    padding: 2px;
    width: 30px;
}
.activity-result .checkbox-icon:before {
    content: "";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.booking-result .legend {
    padding: 6px 8px;
    font-weight: bold;
    display: block;
    text-align: center;
}
.activity-result .amount {
    font-size: 22px;
}
.activity-result .hb-d-start,
.activity-result .hb-d-end {
    background: #EA8A8A!important;
}
.activity-result .hb-day.hb-d-free {
    cursor: pointer;
}
.activity-result .hb-day.hb-d-free:hover,
.session-date-caption:hover {
    background: #4edb87!important;
    color: #fff;
}
.activity-result .hb-day.hb-d-free.active,
.session-date-caption.active {
    background: #FF9600!important;
    color: #fff;
}
.input-group-sm select.form-control,
.input-group-sm .input-group-addon {
    padding: 5px 6px;
}
.session-date-input {
    display: none;
}
.session-date-caption {
    padding: 5px 8px;
    background-color: #a6e0bf;
    cursor: pointer;
    font-weight: normal;
}
@media(max-width: 767px){
    .activity-data {
        display: none;
    }
    .activity-result.active .activity-data {
        display: block;
    }
}
@media(min-width: 768px){
    .activity-data {
        visibility: hidden;
    }
    .activity-result.active .activity-data {
        visibility: visible;
    }
}
.activity-result.active .activity-data {
    visibility: visible;
}
.price span {
    font-weight: 600;
    font-size: 26px;
}
.isotopeContent .price span {
    font-size: 20px;
}
#booking-breadcrumb {
    text-align: center;
}
#booking-breadcrumb .breadcrumb-item {
    padding: 20px;
}
#booking-breadcrumb span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
#booking-breadcrumb svg {
    width: 40px;
    height: 40px;
}
/*********** LOG IN / SIGN UP FORMS **********/
a.fblogin {
    background: linear-gradient(#2953ad, #234ca2);
    color: #fff;
    font-weight: bold;
}
a.fblogin:hover {
    color: #fff;
}
#user-popup {
    max-width: 450px;
}
/**************** PAYMENT FORM ***************/
button[name="payment_type"] {
    min-width: 160px;
    padding: 20px;
}
button[name="payment_type"] svg {
    height: 40px!important;
    width: 40px!important;
}
button[name="payment_type"] .fa-paypal {
    color: #00447E;
}
button[name="payment_type"] .fa-credit-card {
    color: #3787DC;
}
button[name="payment_type"] .fa-envelope {
    color: #B9252B;
}
button[name="payment_type"] .fa-building {
    color: #FF9900;
}
/**************** BOOKING CART ***************/
#booking-cart {
    position: fixed;
    top: 85px;
    right: 15px;
    z-index: 1050;
    opacity: 0.8;
    background: #212121;
    color: #fff;
}
#booking-cart:hover {
    opacity: 1;
}
#booking-cart .img-container {
    margin-right: 15px;
}


/*hassan css*/
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
@media (min-width: 767px) {
	.padding-full {
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	
	.no-padding-left {
		padding-left: 0;
	}
	
	.no-padding-right {
		padding-right: 0;
	}
}
/*font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif;
*/
.slider-img-has {
    width: 100%;
    height: 100vh;
}

.slider-img-has img {
    width: 100%;
    height: 100%;
}
#sliderContainer {
    border-bottom: none;
}
#search-home {
    background: transparent;
}
#search-home-wrapper {
    top: initial;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
padding: 12px 0;
}
body:not(#page-1) .fixed #mainHeader, .fixed #mainHeader {
    background: #a3874d;
}
#mainMenu {
    text-align: left;
    float: right;
    display: none !important;
}
.slider-img-has {
    position: relative;
}

.slide-caption {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: table;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.slide-caption img {
    max-width: 100%;
    width: auto;
}
.slide-caption h5 {
    font-family: 'Domine', serif;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    display: table;
    margin: 40px auto 20px;
    position: relative;
    padding-bottom: 10px;
}


.slide-caption p {
	color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Domine', serif;
    margin-top: 30px;
	    padding: 0 60px;
}

.slide-caption h5:after{
    content: "";
    width: 70%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    margin: 0 auto;
}
.slide-caption h2
 {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
font-family: 'Montserrat', sans-serif;
    text-transform: inherit;
    position: relative;
    letter-spacing: 0;
    word-spacing: initial;
	     padding-bottom: 20px;

}
.slide-caption h2:after{
    content: "";
    width: 120px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    margin: 0 auto;
}
div#search-home h3 {
    color: #fff;
    text-transform: inherit;
    position: relative;
    letter-spacing: 0;
    word-spacing: initial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600 !important;
}

div#search-home p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}

div#search-home {
    text-align: left;
}

div#search-home h3 span {
    color: #a3874d;
}
#cookies-notice {
    z-index: 999999;
}
.booking-search .input-group-addon, .booking-search .form-control {
    background: transparent;
    border-color: transparent;
    color: #7d7d7d;
	position: relative;
}
.booking-search .form-control {
    height: 45px;
    border: 1px solid #5d5d5d !important;
    border-radius: 0;
	outline: none;
	position: relative;
}
.booking-search .form-control:after{
    content: "";
    background: url(../images/arrow-form.jpg) no-repeat;
    width: 50px;
    height: 44px;
    position: absolute;
    top: 0;
    right: -8px;
    z-index: 999;
}
.booking-search .input-group
{
	position: relative;
}
.booking-search .input-group:after{
    content: "";
    background: url(../images/arrow-form.jpg) no-repeat;
    width: 50px;
    height: 44px;
    position: absolute;
    top: 0;
    right: -8px;
    z-index: 999;
}
.booking-search .btn.dropdown-toggle {
    background: #fff;
    border: none;
	outline: none !important;
    padding-top: 2px;
}
.booking-search .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: none;
}
.booking-search button.btn.btn-block.btn-primary {
    background: none;
    border-color: #fff;
    color: #fff;
    background: #a3874d;
    border: none;
    padding: 3px 0 4px;
    border-radius: 50px;
    width: 80%;
    margin-left: 40px;
}
.has-main-title h2 {
    color: #131313;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    padding: 0 0 20px;
}
.has-main-title h2:after{
    content: "";
    background: url(../images/h2-line.png) no-repeat;
    width: 51px;
    height: 6px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    left: 0; 
    right: 0;
    display: table;
    margin: 0 auto;
}
.has-main-title p {
    color: #131313;
    font-size: 15px;
    line-height: 24px;
    padding: 0 70px;
    margin-top: 20px;
}
.more-content2 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
	padding: 20px 20px;
}
.left-has {
    float: left;
    width: 70%;
}

.right-has {
    float: right;
    width: 23%;
	    text-align: right;
}
.left-has h3 {
    color: #a3874d;
    font-weight: 600;
    position: relative;
    letter-spacing: 0;
    word-spacing: initial;
    margin-bottom: 15px;
}
.left-has p {
    margin-bottom: 0;
    font-size: 12px;
    color: #cccccc;
    line-height: 18px;
}
.right-has a {
    border-color: #fff;
    color: #fff;
    background: #a3874d;
    border: none;
    padding: 3px 0 4px;
    border-radius: 50px;
    width: 100%;
    margin-left: 0;
}
.price {
	text-align: center;
    margin-bottom: 15px;
    position: relative;
    top: -4px;
}
.right-has a:hover {
    background: #9c824b;
}
.price span {
    font-weight: 600;
    font-size: 22px;
}
.int-img img {
    width: 100%;
}
.int-img .col-md-6 {
    padding: 0 1px;
}
.container.has-sec-1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.sections-3.has-sec {
    padding: 50px 0;
    border-top: 1px solid #ececec;
}
.img-container.md.has-img {
    height: 570px;
}
.footer-map {
    height: 400px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(80%);
}
.footer-center
{
    background: url(../images/footer-bg.jpg) center center / cover no-repeat;
    float: left;
	    padding: 50px 0;
    width: 100%;
}
.footer-center img {
    display: block;
    margin: 0;
}
.s-ico ul li {
    float: left;
    margin-right: 20px;
}

.s-ico ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}

.s-ico ul li:first-of-type {
    color: #a3874c;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 40px;
}
.foot-r img {
    float: left;
    margin-right: 10px;
}

.foot-r h3 {
    color: #143980;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}
.foot-r h5 {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 26px;
}
.footer-bottom {
    float: left;
    width: 100%;
    padding: 20px 0;
}

.footer-bottom p,.footer-bottom a {
    color: #2d2d2d;
    margin: 0;
    font-weight: 600;
}

.foot-link {
    float: right;
    text-align: right;
}

.foot-link a:last-of-type {
    margin-left: 12px;
    border-left: 1.5px solid #2d2d2d;
    padding-left: 12px;
}
#toTop {
    z-index: 9999;
}
#toTop {
    background: #a4874d;
    border: 1px solid #a4874d;
    color: #fff;
}
#toTop:hover {
    background: #7d673a;
    color: #fff;
}
#search-page .container {
    background: rgba(0, 0, 0, 0.82);
}
.page-header {
    background-color: #a3874d;
    color: #fff;
    border: none;
}
.boxed {
    background: transparent;
    border: none;
    padding: 20px;
}
.col-sm-4.text-right {
    text-align: center;
}
.text-primary,
h1.mb0{
    color: #a3874d;
}
.img-container.xs {
    height: 60px;
    width: 100%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #a4874d;
}
.sharrre {

    display: none;
}
#booking-summary .col-md-6:first-child {
    background: #a3874d;
    color: #fff;
}
.col-lg-3.col-md-4.col-sm-5.sep {
    display: none;
}
#booking-summary {
    border: 1px solid #a3874d;
}
#booking-summary big {
    color: #a3874d;
}
.col-lg-4.col-md-3.col-sm-4 h3 {
    color: #a3874d;
}
.booking-result .price:not(.text-primary) span {
    color: #a3874d;
}
.booking-result .col-lg-4.col-md-3.col-sm-4 {
    width: 58%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: #a3874d;
    border-color: #a3874d;
    color: #fff;
}
.btn-primary {
    background: none;
    border-color: #a3874d;
    color: #a3874d;
}
#booking-breadcrumb .breadcrumb-item.active {
    background: #d8b162;
    color: #fff;
}
#booking-breadcrumb .breadcrumb-item.done {
    background: #a3874d;
    color: #fff;
}
div#total_booking h3 {
    color: #a3874d;
}
.checkbox-icon {
    border: 2px solid #a3874d;
}
.col-lg-7.col-md-7.col-sm-4 h3 {
    color: #a3874d;
}
aside .widget-title {
    color: #a3874d;
}
@media (min-width: 768px){
.ajax-form .mb20 {
    margin-bottom: 5px !important;
}
}
	.ajax-form button.btn.btn-primary.btn-lg.pull-right {
    margin-right: 15px;
}
	.activity-result.active .checkbox-icon:before {
    color: #a3874d;
}
	.ajax-form button.btn.btn-primary.btn-lg.pull-right,
	.ajax-form a.btn.btn-default.btn-lg.pull-left{
    padding: 6px 22px;
    font-size: 16px;
}
.table-bordered:first-of-type>tbody>tr>th {
    padding: 15px 10px;
    background: #fbfbfb;
}
.container.boxed {
    padding-top: 20px !important;
}



@media (min-width:1200px) and (max-width:1500px)
{
    .slide-caption img {
    max-width: 30%;
    width: auto;
    height: auto;
}
	.slide-caption h2 {
    font-size: 30px;
    line-height: 38px;
} 
	.slide-caption p {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Domine', serif;
    margin-top: 15px;
}
.slide-caption h5 {
    margin: 20px auto 15px;
}
}
/*hassan css End*/
